/* variable couleur jaunasse*/

:root {
	--mycolor: #FFBF00;
}



/*box_m1 global*/

#box_m1 h2 {
	text-align: center;
	background-color: black;
	color: var(--mycolor);

}




/*box_m2 global*/


.prenom {
	font-size: 3.0em;
	font-weight: bold;
	color: var(--mycolor);
}

.nom {font-size: 3.0em;}

.job {font-size: 1.8em;}

hr
{
    width: 100%;
    border: 1px solid var(--mycolor);
}

/* Boxes */

#conteneur_global {
	display: flex; 
	flex-direction: row;
	flex-wrap: nowrap;
}

	#box_m1
	{
	background-color: var(--mycolor);   
	min-width: 35%;
	}

#box_m2
	{
	background-color: none; 
	min-width: 65%;
	padding: 20px 20px 20px 20px;
	}

	.img_ghost1 {
	display: block;
	}

	.img_ghost2 {
	display: none;
	}

	.contact_ghost1 {
		display: block;
	}
	.contact_ghost2 {
	display: none;
	}


.pave_xp {
	display: flex; 
	flex-direction: row;
	flex-wrap: nowrap;
}

.box_m3_G {  
	min-width: 150px;
}


@media (max-width: 600px) {

	#conteneur_global {
		flex-direction: column-reverse;
		text-align: center;
	}

	.img_ghost1 {
		display: none;
	}

	.img_ghost2 {
		display: block;
	}

	.contact_ghost1 {
		display: none;
	}

	.contact_ghost2 {
		display: block;
	}

	.pave_xp { 
		flex-direction: column;
	}


}






