/* Globals*/

p {
	font-family: Arial, sans-serif;
	margin: 5px 10px 5px 10px;
	text-align: justify; 
}

hr {
    width: 100%;
    border: 1px solid #93b2e1;
}

li {
	margin-left: 20px;
  	list-style-type:circle;
}
   
#conteneur_global {
	display: flex; 
	flex-direction: row;
	flex-wrap: nowrap;
}

#box_m1 {
	position: relative;
	background-color: #93b2e1;
	max-width: 35% ;
}

#box_m1 h2 {
	text-align: center;
	background-color:  #001b44 ;
	color: #93b2e1;
}

#box_m2 {
	display: block;
	background-color: none; 
	padding: 20px;

}

.img_ghost1  {	
	display: block;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
  	border-radius: 150px;	
	width: 300px;
	height: 300px;
}
    

.img_ghost2  {	
	display: block;
	margin-top: 20px;
  	margin-bottom: 20px;	
	margin-left: auto;
	margin-right: auto;
  	border-radius: 150px;
	width: 300px;
	height: 300px;
}

.prenom {
	font-size: 3.0em;
	font-weight: bold;
	font-family: Arial, sans-serif;
	color: #93b2e1;
}

.nom {
	font-size: 3.0em;
	font-family: Arial, sans-serif;
}

.job {font-size: 1.8em;
}

.loisirs {
	width: 100%;
	position: absolute;
	bottom: 10px;
	text-align: center;
}

/*Settings pré Switch*/

.img_ghost2, .contact_ghost2 {
	display: none;
}

.contact_ghost1 {
	display: block;
}

.pave_xp {
	display: flex;
	flex-direction: row ;	
	font-size: large;
	padding-bottom: 20px;
}

.box_m3_G {  
	min-width: 	200px;
	vertical-align: top;
	
}

.box_m3_D {
	padding-left: 20px;
	width: 	65%;
}



@media (max-width: 1100px) {

/*Img imterm Switch*/
	
	.img_ghost1  {	
  	border-radius: 100px;	
	width: 200px;
	height: 200px;
	}
	

	.pave_xp {
		flex-direction: column;	

	}

	.box_m3_D {
		width: 	100%;
	}

}

@media (max-width: 600px) {

/*Switch*/
	#conteneur_global {
		flex-direction: column-reverse;
	}

	#box_m1 {
		max-width: 100% ;
	}

	#box_m2 {
		max-width: 100% ;
	}


	.img_ghost1, .contact_ghost1 {
		display: none;
	}

	.img_ghost2, .contact_ghost2 {
		display: block;
	}

	.loisirs {
		position: relative;
	}
	
	.title, .job {
		text-align: center;
	}
}
	







